<footer class="ct-footer">
    <div class="container">
      <form name="contentForm" enctype="multipart/form-data" method="post" action="">
        <div class="ct-footer-pre text-center-lg">
          <div class="inner">
            <span>Join Kishan Agro to receive updates, news & events!</span>
          </div>
          <div class="inner">
            <div class="form-group">
              <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your phone number" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> 
              <button (click)="join()" type="button" class="btn btn-motive"><a href="comingsoon">Join</a></button>
            </div>
          </div>
        </div>
      </form>
      <ul class="ct-footer-list text-center-sm">
        <li>
          <h2 class="ct-footer-list-header">Learn More</h2>
          <ul>
            <li>
              <a href="comingsoon">Clients</a>
            </li>
            <li>
              <a href="comingsoon">News</a>
            </li>
            <li>
              <a href="comingsoon">Careers</a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">Services</h2>
          <ul>
            <li>
              <a href="comingsoon">Marketing</a>
            </li>
            <li>
              <a href="comingsoon">Sales</a>
            </li>
            <li>
              <a href="comingsoon">Support</a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">The Industry</h2>
          <ul>
            <li>
              <a href="comingsoon">Thought Leadership</a>
            </li>
            <li>
              <a href="comingsoon">Webinars</a>
            </li>
            <li>
              <a href="comingsoon">Events</a>
            </li>
            <li>
              <a href="comingsoon">Advisors</a>
            </li>
            <li>
              <a href="comingsoon">Training Program</a>
            </li>
            <li>
              <a href="comingsoon">Activities & Campaigns</a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">Public Relations</h2>
          <ul>
            <li>
              <a href="comingsoon">Shree Ram Traders</a>
            </li>
            <li>
              <a href="comingsoon">Videos</a>
            </li>
            <li>
              <a href="comingsoon">News Releases</a>
            </li>
            <li>
              <a href="comingsoon">Newsletters</a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="ct-footer-list-header">About</h2>
          <ul>
            <li>
              <a href="comingsoon">FAQ</a>
            </li>
            <li>
              <a href="comingsoon">Our Board</a>
            </li>
            <li>
              <a href="contact">Our Staff</a>
            </li>
            <li>
              <a href="contact">Contact Us</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="ct-footer-meta text-center-sm">
        <div class="row">
          <div class="col-sm-6 col-md-2">
            <img href="home" alt="logo" src="../assets/Data/logo-2.png">
          </div>
          <div class="col-sm-6 col-md-3">
            <address>
              <span>Kishan Agro<br></span>Kisan Agro Agency, Krishna Chock<br>
              Anjad, India<br>
              <span>Phone: <a href="tel:5555555555">(+91) 9425123884</a></span>
            </address>
          </div>
          <div class="col-sm-6 col-md-2 ct-u-paddingTop10 playstorediv">
            <a href="comingsoon" target="_blank"><img class="playstore" alt="google play store" src="https://www.solodev.com/assets/footer/androidstore.png"></a>
          </div>
          <div class="col-sm-6 col-md-2 ct-u-paddingTop10">
            <a href="comingsoon" target="_blank"><img alt="app store" src="https://www.solodev.com/assets/footer/appstore.png"></a>
          </div>
          
          <div class="col-sm-6 col-md-3">
            <ul class="ct-socials list-unstyled list-inline">
              <li>
                <a href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
              </li>
              <li>
                <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>
              </li>
              <li>
                <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
              </li>
              <li>
                <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
              </li>
              <li>
                <a href="" target="_blank"><img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ct-footer-post">
      <div class="container">
        <div class="inner-left">
          <ul>
            <li>
              <a href="comingsoon">FAQ</a>
            </li>
            <li>
              <a href="comingsoon">News</a>
            </li>
            <li>
              <a href="comingsoon">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="inner-right">
          <p>Copyright © 2022 KishanAgro.&nbsp;<a href="">Privacy Policy</a></p>
          <p><a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by <a href="" target="_blank">Ajay Agalcha</a></p>
        </div>
      </div>
    </div>
  </footer>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js">
</script>
