<!-- <div id="container">
  <div>
    <h3>To get in touch, message us at...</h3>
  </div>
  <div>
    <div>
      Name: <input type="text" placeholder="Enter your name">
    </div>
    <div>
      Phone No.: <input type="text" placeholder="Enter your number">
    </div>
    <div>
      Message: <input type="text" placeholder="Enter your message">
    </div>
    <div>
      <button>Submit</button>
    </div>
  </div>
</div> -->
<div style="text-align:center;">
  <h3>To get in touch, message us at...</h3>
</div>
<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your first name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="mnumber">Mobile Number</label>
    <input type="text" id="mnumber" name="mobilenumber" placeholder="Your mobile number..">

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <div style="text-align: center;"><input type="submit" value="Submit"></div>
  </form>
</div>
<div id="container"> 
    <h2> Contact Details:</h2>
    <div class="box rcorners1"> 
     <div>
      <img src="../assets/Data/logo-2.png" class="avatar" alt="Avatar">
     </div>
     <div class="text">
      <b>Rajesh Agalcha</b>
      <p>CEO</p>
      <span>Phone: <a href="tel:5555555555">(+91) 9425123884</a></span>
    </div> 
    </div> 
    <div class="box rcorners1"> 
     <div>
      <img src="../assets/Data/sanjay-pic.jpg" class="avatar" alt="Avatar">
     </div>
     <div class="text">
      <b>Sanjay Kag</b>
      <p>Member</p>
      <span>Phone: <a href="tel:55">(+91) 1234567890</a></span>
    </div> 
    </div> 
    <div class="box rcorners1"> 
     <div>
      <img src="../assets/Data/amit-pic.jpg" class="avatar" alt="Avatar">
     </div>
     <div class="text">
      <b>Amit Agalcha</b>
      <p>Member</p>
      <span>Phone: <a href="tel:55">(+91) 1234567890</a></span>
    </div> 
    </div> 
   </div>  
   <div id="container">
    <div class="box rcorners1">  
      <div>
       <img src="../assets/Data/logo-2.png" class="avatar" alt="Avatar">
      </div>
      <div class="text">
        <b>Vinod Agalcha</b>
        <p>Chartered Accountant</p>
        <span>Phone: <a href="tel:5555555555">(+91) 1234567890</a></span>
      </div>
     </div>
     <div class="box rcorners1">  
      <div>
       <img src="../assets/Data/logo-2.png" class="avatar" alt="Avatar">
      </div>
      <div class="text">
        <b>Ashwin Agalcha</b>
        <p>Data Engineer</p>
        <span>Phone: <a href="tel:5555555555">(+91) 1234567890</a></span>
      </div>
     </div>
    <div class="box rcorners1">  
      <div>
       <img src="../assets/Data/ajay-pic.jpeg" class="avatar" alt="Avatar">
      </div>
      <div class="text">
        <b>Ajay Agalcha</b>
        <p>Member</p>
        <span>Phone: <a href="tel:5555555555">(+91) 1234567890</a></span>
      </div>
     </div> 

   </div>

   <div id="container">
    <h2>Our Offices</h2>
    <div class="officeAdd">
    <div class="officeInside">
      <p><b>Anjad</b></p>
        <address>
          <span>Kishan Agro<br></span>Krishna Chock, Anjad<br>
          Madhya Pradesh, India<br>
          <span>Phone: <a href="tel:5555555555">(+91) 9425123884</a></span>
        </address>
      
    </div>
    <div class="officeInside">
      <p><b>Bhagsur</b></p>
      <div>
        <address>
          <span>Shree Ram Traders<br></span>Bhagsur<br>
          Madhya Pradesh, India<br>
          <span>Phone: <a href="tel:5555555555">(+91) 9425123884</a></span>
        </address>
      
    </div>
    </div>
  </div>
   </div>
