.box {
    background-color:#50544b;
    width:31%;
    display:inline-block;
    margin:11px 11px;
    border-radius:6px;
    height: 300px;
 }
 
 .text {
    padding:11px 0;
    color:rgb(18, 18, 18);
    font-weight:bold;
    text-align:center;
 }

 .text span a {
   color: black;
 }
 
 #container {
    white-space:nowrap;
    text-align:center;
 }

 .rcorners1 {
   border-radius: 25px;
   background: #6f7278;
   padding: 20px;
   
 }

 .avatar{
   border-radius: 50%;
   height: 200px;
   width: 200px;
 }
 .officeAdd{
  display: inline-flex;
 }

 .officeInside{
  margin-right: 50px;
  margin-top: 15px;
 }

 body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .rcorners1 {
    display: contents !important;
    background: #6f7278 !important;
  }
  .officeAdd{
    display: block !important;
  }
  .officeInside{
    margin-right: 0px !important;
   }
}