<!-- <div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>  
    <div>4</div>
    <div>5</div>
    <div>6</div>  
    <div>7</div>
    <div>8</div>
    <div>9</div>  
    <div>10</div>
    <div>11</div>
    <div>12</div>  
  </div> -->
 
<div class="content">
   <h1><b>Agriculture</b></h1>
 <p>Agriculture, with its allied sectors, is unquestionably the largest livelihood provider in India, more so in the vast rural areas. It also contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of food security, rural employment, and environmentally sustainable technologies such as soil conservation, sustainable natural resource management and biodiversity protection, are essential for holistic rural development. Indian agriculture and allied activities have witnessed a green revolution, a white revolution, a yellow revolution and a blue revolution.
    This section provides the information on agriculture produces; machineries, research etc. Detailed information on the government policies, schemes, agriculture loans, market prices, animal husbandry, fisheries, horticulture, loans & credit, sericulture etc. is also available.</p>
</div>


<div class="content-image">
    <div class="banner1 slide1">
        <img src="https://github.com/Sacsam005/image-slider-SASS/blob/master/img/img1.jpg?raw=true" alt="">
        <div class="text-box zoom1">
            <h1>Nepal</h1>
    <!--             <span></span> -->
        </div>
    </div>
    <div class="banner2 slide2">
        <img src="https://github.com/Sacsam005/image-slider-SASS/blob/master/img/img2.jpg?raw=true" alt="">
    <!--         <span></span> -->
        <div class="text-box zoom2">
            <h1>United States</h1>
        </div>
    </div>
    <div class="banner3 slide3">
        <img src="https://github.com/Sacsam005/image-slider-SASS/blob/master/img/img3.jpg?raw=true" alt="">
    <!--         <span></span> -->
        <div class="text-box zoom3">
            <h1>France</h1>
        </div>
    </div>
</div>

